<script type="text/ng-template" id="details-movie.html">
    <div class="relative">
        <div class="col-xs-4">
            <img class="img-responsive" ng-src="http://image.tmdb.org/t/p/w500{{vm.movie.image}}" />
        </div>
        <div class="col-xs-8">
            <h3 ng-bind="vm.movie.title"></h3>
            <hr />
            <rating ng-model="vm.movie.rate" readonly="true" max="vm.maxRate"></rating>
            <i><p ng-bind="vm.movie.comment"></p></i>
            <div class="relative">
                <div data-loading-indicator loading="vm.loadingMovieExtraDetails" message="loading movies details..."></div>
                <div ng-hide="vm.loadingMovieExtraDetails">
                    <div class="form-group">
                        <label>Overview:</label>
                        <p ng-bind="vm.movieExtraDetails.overview"></p>
                    </div>
                    <div class="form-group">
                        <label>Genres:</label>
                        <div>
                            <span class="label label-info genre" ng-repeat="genre in vm.movieExtraDetails.genres" ng-bind="genre.name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>IMDB: </label>
                        <a ng-href="http://www.imdb.com/title/{{vm.movieExtraDetails.imdb_id}}" ng-bind="'http://www.imdb.com/title/'+vm.movieExtraDetails.imdb_id" target="_blank">
                        </a>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Trailers:</label>
                        <div class="row">
                            <div ng-repeat="trailer in vm.movieExtraDetails.trailer" class="col-xs-4 trailer">
                                <a href ng-click="vm.openYoutubeModal(trailer)">
                                    <img class="img-responsive" ng-src="http://img.youtube.com/vi/{{trailer.key}}/hqdefault.jpg" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>                        
        </div>

    </div>

</script>

<script type="text/ng-template" id="youtube-modal.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="vm.videoItem.title"></h3>
    </div>
    <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
            <youtube-video video-id="vm.videoItem.key"></youtube-video>
        </div>
    </div>
    <div class="modal-footer clearfix">
        <button class="btn btn-primary" ng-click="$dismiss()">Close</button>
    </div>
</script>